local.properties
.gradle/
**/build/
**/out/
.cxx/
.externalNativeBuild/


*.iml
.idea/
.vscode/


*.apk
*.ap_
*.aab
*.dex
*.class
*.o
*.so
*.hprof
*.ec  # cobertura (JaCoCo)


*.log
*.tmp
*.temp


captures/



*.jks
*.keystore
*.p12
signing/
.signing/

!gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/dists/


lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

.DS_Store
Thumbs.db